apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: n8n
  name: n8n-deployment
  namespace: n8n-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  strategy: {}
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
      - image: n8nio/n8n:latest
        name: n8n
        envFrom:
          - configMapRef:
              name: n8n-configmap
          - secretRef:
              name: n8n-secret
        resources: {}
status: {}
        